
@model IEnumerable<RpgGameHub.Core.Models.Meetup>
@using RpgGameHub.Core.Models;
@using RpgGameHub.Extensions;
@{
    ViewBag.Title = "My Meetups";
}

<h2>@ViewBag.Title</h2>

<ul class="meetups voffset4">
    @foreach (var meetup in Model)
    {
        <li>
            <div class="meetup" ng-controller="MeetupController">
                <div class="date">
                    <a class="detail_link" href="@Url.Action("Details", "Meetup", new { Id = meetup.Id } )">
                        <div class="month">
                            @meetup.DateTime.ToString("MMM")
                        </div>
                        <div class="day">
                            @meetup.DateTime.ToString("d ")
                        </div>
                        <div class="year">
                            @meetup.DateTime.ToString("yyyy")
                        </div>
                    </a>
                </div>
                <div class="game">
                    <div class="details">
                        @{
                            var rpgGame = ((RpgGameType)meetup.RgpGameId).EnumDesc();
                        }
                        <span class="rpgGame">@rpgGame</span>
                    </div>
                </div>
                <div class="actions">
                    <a href="@Url.Action("Edit","Meetup", new { id = meetup.Id })">
                        Edit
                    </a>|
                    <a href="#" ng-click="cancelMeetup(@meetup.Id)">Cancel</a>
                </div>
            </div>
        </li>
                            }
</ul>
