@model RpgGameHub.Core.ViewModels.MeetupViewModel
@using RpgGameHub.Core.Models;
@using RpgGameHub.Extensions;
@{
    ViewBag.Title = "Meetups";
}

<h2>@Model.Heading</h2>

<ul id="meetups" class="meetups voffset4">
    @foreach (var meetup in Model.upcomingMeetups)
    {
        <li>
            <div class="meetup">
                <div class="date">
                    <div class="month">
                        @meetup.DateTime.ToString("MMM")
                    </div>
                    <div class="day">
                        @meetup.DateTime.ToString("d ")
                    </div>
                    <div class="year">
                        @meetup.DateTime.ToString("yyyy")
                    </div>
                </div>
                <div class="details">
                    @{
                        var rpgGame = ((RpgGameType)meetup.RgpGameId).EnumDesc();
                    }
                    <span class="rpgGame">@rpgGame</span>
                    <div class="gameMaster">@meetup.Handle</div>
                </div>
            </div>

        </li>
            }
</ul>
