@model RpgGameHub.Core.ViewModels.MeetupViewModel
@using RpgGameHub.Core.Models;
@using RpgGameHub.Extensions;
@{
    ViewBag.Title = @Model.Heading;
}

<h1>@Model.Heading</h1>

<hr />

<ul id="meetups" class="meetups voffset4">
    @foreach (var meetup in Model.upcomingMeetups)
    {
        <li>
            <div class="meetup">
                <div class="date" >
                    <a class="detail_link" href="@Url.Action("Details", "Meetup", new { Id = meetup.Id } )">
                        <div class="month">
                            @meetup.DateTime.ToString("MMM")
                        </div>
                        <div class="day">
                            @meetup.DateTime.ToString("d ")
                        </div>
                        <div class="year">
                            @meetup.DateTime.ToString("yyyy")
                        </div>
                    </a>
                </div>
                <div class="details">
                    @{
                        var rpgGame = ((RpgGameType)meetup.RgpGameId);
                    }
                    <span class="rpgGame">@rpgGame</span>
                    <div class="gameMaster">@meetup.Handle</div>
                </div>
                <div class="status">
                    @if (meetup.IsCancelled)
                    {
                        <span class="badge">Cancelled</span>
                    }
                </div>
            </div>

        </li>
                        }
</ul>
